@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Urbanist", sans-serif;
}

@theme{
  --color-primary: #7B68EE ;
}

.reset-tw, .reset-tw *{
  all: revert !important ;
}

/* Custom styling for browser autofill in dark mode to prevent bright white autofill box */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #171616 inset !important;
  -webkit-text-fill-color: #f3f4f6 !important;
  caret-color: #f3f4f6 !important;
  transition: background-color 5000s ease-in-out 0s;
}